body{
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 300px;
    background: url("background.jpg");
    background-size: cover;
    object-fit: cover;
    border-radius: 5px;
}
.box{
    margin: 10px;
    text-align: center;
    font-weight: 800;
}
.value{
    background-color: rgb(123, 38, 248,0.6);
    width: 60px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: xx-large;
    border-radius:5px 5px 0 0 ;
}
.text{
    background-color: rgb(91, 160, 137,0.8);
    width: 60px;
    height: 20px;
}
#ampm{
    background-color: rgb(91, 160, 137,0.8);
    width: 40px;
    height: 20px;
    border-radius: 3px;
    margin-top: 68px;
}